<div class="password-reset-request-container glass-card">
  <h2 class="text-center mb-3">Password Reset Request</h2>

  <form [formGroup]="resetRequestForm" (ngSubmit)="onSubmit()">
    <!-- Username or Email -->
    <label for="username">Username </label>
    <input
      id="username"
      formControlName="username"
      placeholder="Enter your username" />
    <div *ngIf="resetRequestForm.get('username')?.invalid && resetRequestForm.get('username')?.touched" class="error">
      Username  is required.
    </div>

    <!-- Submit -->
    <button type="submit" [disabled]="loading || resetRequestForm.invalid">Send Reset Email</button>
  </form>

  <!-- Feedback -->
  <p class="message success" *ngIf="message">{{ message }}</p>
  <p class="message error" *ngIf="error">{{ error }}</p>
</div>
